[Desktop Entry]
Name=Translator
Name[cs]=Překladatel
Name[en_GB]=Translator
Name[eo]=Tradukilo
Name[es]=Traductor
Name[et]=Translaator
Name[fr]=Translator
Name[ga]=Aistritheoir
Name[gl]=Tradutor
Name[hr]=Prevodilac
Name[km]=អ្នកបកប្រែ
Name[nds]=Översetter
Name[nl]=Vertaler
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ro]=Traducător
Name[sv]=Översättning
Name[tr]=Translator
Name[uk]=Перекладач
Name[x-test]=xxTranslatorxx

Comment=Translator application using Google Translator.
Comment[en_GB]=Translator application using Google Translator.
Comment[km]=កម្មវិធី​​បកប្រែ​​ដោយ​ប្រើ​កម្មវិធីបកប្រែ​របស់ហ្គូហ្គល ។
Comment[pt]=Uma aplicação de tradução que usa o Google Translator.
Comment[ro]=Aplicație-traducător utilizînd Google Translator.
Comment[sv]=Översättningsprogram som använder Googles översättare.
Comment[uk]=Програма для перекладу, яка використовує перекладач google.
Comment[x-test]=xxTranslator application using Google Translator.xx




Type=Service
ServiceTypes=Plasma/Applet
Icon=translator.png
X-KDE-Library=plasma_applet_translatoid
X-KDE-PluginInfo-Author=Schutz sacha
X-KDE-PluginInfo-Email=istdasklar@gmail.com
X-KDE-PluginInfo-Name=translatoid
X-KDE-PluginInfo-Version=1.30
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
